.laddergame.game-arena {
	/* Taustakuva koko pelille */
	background: url(../kuvat/normal/uncolored_castle.png) no-repeat center center fixed;
	/* Täytetään koko ruutu taustakuvalla */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Vastausvaihtehdon tausta ja fontti */
.laddergame .optionLabel {
	/*Fonttiasetukset*/
	text-align:center; /* Tekstin asemointi (left, center, right) */
	color: #d3ad89; /* Tekstin väri */ 
	font-family: Arial, Verdana, Tahoma; /* Käytettävän fontin nimi */
	font-weight: bold; /* Fontin boldaus */
	font-size:3.5vw; /* Fonttikoko */
	text-shadow: 0px -0.3vw 0px #a06d3d; /* Tekstin varjo */
	line-height: 4vw; /* Rivin korkeus */

	/* värit */
	background: #ae7640; /* Taustaväri */
	border-top: 0.5vw solid #bb844d; /* Yläreuna */
	border-radius: .2em; /* Kulmien pyöreys */
	border-bottom: 1px solid white; /* Alareuna */

	/* Tila tekstin ympärillä */
	padding: 0vw .4vw;

}


/* Kysymyksen tausta ja fontti */ 
.laddergame  .question {
	background: #acc0c1; /* Taustaväri */
	border-top: 0.8vh solid  #cfdada; /* Yläreuna (paksuus, tyyli, väri) */
	border-radius:1em 1em 1em 1em; /* Kulmien pyöristys, Ylävasen, yläoikea, alaoikea, alavasen */
	color: #fff;  /* Tekstin väri */
	text-align:center;  /* Tekstin asemointi (left, center, right) */
	text-shadow: 0px -0.3vw 0px #a1b1b1; /* tekstin varjostus */
	font-family: Arial, Verdana, Tahoma; /* Fontin nimi */
	padding: 3vmin 6vmin; /* Tekstin ympärillä oleva tila */
	font-size: 6vmin; /* Fonttikoko */
}

/* Etenemispalkki */
.laddergame  .progressbar {
	background: #ae7640; /* Taustaväri */
	border-top: 0.5vh solid  #bb844d; /* Yläreuna (paksuus, tyyli, väri) */
	border-radius:1em 1em 2em 2em; /* Kulmien pyöristys, Ylävasen, yläoikea, alaoikea, alavasen */
}

/* Etenemispalkin täyte */
.laddergame  .progressbar span {
	background: #80be1f;
	border-top: 0.5vh solid  #93db24; /* Yläreuna (paksuus, tyyli, väri) */
	border-radius: 1em 1em 2em 2em; /* Kulmien pyöristys, Ylävasen, yläoikea, alaoikea, alavasen */
}



/* Viisi erilaista tasoa, jotka arvotaan pelissä satunnaisesti */
.laddergame .ground {
	/* Kuvan polku */
	background: url(../kuvat/normal/level2.svg) no-repeat bottom center; /* Taustakuva */
	/* Taustakuvan koko (täyttää koko annetun tilan) */
	background-size: 80vw auto !important;

}

.laddergame .ground.level1 {
	background: url(../kuvat/normal/level1.svg) no-repeat bottom center !important; /* Taustakuva */
	background-size: 80vw auto !important; /* Taustakuvan koko */

}
.laddergame .ground.level2 {
	background: url(../kuvat/normal/level2.svg) no-repeat bottom center !important; /* Taustakuva */
	background-size: 80vw auto !important; /* Taustakuvan koko */

}

.laddergame .ground.level3 {
	background: url(../kuvat/normal/level3.svg) no-repeat bottom center !important; /* Taustakuva */
	background-size: 80vw auto !important; /* Taustakuvan koko */

}
.laddergame .ground.level4 {
	background: url(../kuvat/normal/level4.svg) no-repeat bottom center !important; /* Taustakuva */
	background-size: 80vw auto !important; /* Taustakuvan koko */

}
.laddergame .ground.level5 {
	background: url(../kuvat/normal/level5.svg) no-repeat bottom center !important; /* Taustakuva */
	background-size: 80vw auto !important; /* Taustakuvan koko */

}

/* Hahmo */
.laddergame .character {
	background: url(../kuvat/normal/dude.svg) no-repeat; /* Taustakuva */
	background-size: 5vw 5vw; /* Taustakuvan koko */
}

/* Vastausvaihtoehdon "jalka" */
.laddergame .option {
	background: url(../kuvat/normal/sign_blue_big_2.svg) bottom center no-repeat; /* Taustakuva */
	background-size: 8vw auto; /* Taustakuvan koko */
}

/* Vastausvaihtoehdon jalka, kun vastataan oikein */
.laddergame  .correct {
	background: url(../kuvat/normal/sign_green_2.svg) bottom center no-repeat !important; /* Taustakuva */
	background-size: 8vw auto !important; /* Taustakuvan koko */
}

/* Vastausvaihtehdon jalka, kun vastataan väärin */
.laddergame  .incorrect {
	background: url(../kuvat/normal/sign_red_2.svg) bottom center no-repeat !important; /* Taustakuva */
	background-size: 8vw auto !important; /* Taustakuvan koko */
}

/* Kuva kolikosta ja "X" -merkistä */
.laddergame .score {
	background: url(../kuvat/normal/score.svg) bottom left no-repeat; /* Taustakuva */
	background-size: 8vw auto; /* Taustakuvan koko */
}
/* Teksti, joka kuvaa pistemäärää */
.laddergame .currentScore {
	text-align: left;  /* Tekstin asemointi (left, center, right) */
    font-size: 4vw; /* Fonttikoko */
	font-weight:bold; /* Fontin boldaus */
	letter-spacing: 220%; /* Merkkien väli */
	font-family: "Luckiest Guy"; /* Käytettävä fontti */
	color: white; /* Tekstin väri */
}

/* Elämät (sydämet) */
.laddergame .health {
	width: 4.2vmin; /* leveys */
	height: 4vmin; /* korkeus */ 
	background: url(../kuvat/normal/health.svg) no-repeat; /* Taustakuva */
	background-size: 4vmin auto; /* taustakuvan koko: levyes 4vmin, korkeus säätyy automaattisesti niin että kuvasuhde säilyy*/
}

/* Käytetyt elämät (tyhjät sydämet) */
.laddergame .healthUsed {
	background: url(../kuvat/normal/health_used.svg) no-repeat; /* Taustakuva */
	background-size: 4vmin auto !important; /* Taustakuvan koko */
}
